$green: #127369;

$green2: #23c483;

$green3: #44E3D3;

$gray: #BFBFBF;

$nice-beige: #F2F3F3;

$pink: #F2668B;

$good-pink: #F20587;

$purple: #7A577A;

$blue: #025E73;

$strange-blue: #2E038C;

$cyan: #0FC2C0;

$yellow: #DBF227;

$red: #D92525;

$black: #4D5259;

// :export {

//   green: $green;
//   green2: $green2;
//   gray: $gray;
//   nice-beige: $nice-beige;
//   pink: $pink;
//   purple: $purple;
//   blue: $blue;
//   cyan: $cyan;
//   yellow: $yellow;
//   red: $red;
//   black: $black;

// }