@import "../../global/global.scss";

.main {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    margin-bottom: 5vh;

    &__txt {

      font-size: xx-large;

    }


  }

  &__input-area {
    @include boxTheme;
    width: 10vw;
    height: 3vh;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    resize: none;
    box-shadow: none;
    border: none;
    outline: none;
  }

}